* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

h1 {
  color: orange;
  width: 400px;
  height: 20vh;
  text-align: center;
  padding-top: 40px;
  font-size: 48px;
  font-weight: 700;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 20px auto;
  width: 80%;
  grid-gap: 1rem;
  justify-content: center;
}

.content {
  background-color: rgb(51, 10, 6);
  border-radius: 1rem;
  /* padding: 10px; */
  box-shadow: 1px 1px 8px 3px rgb(147, 31, 13);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content1 {
  grid-column: 1/3;
}

.content1 p {
  font-size: 18px;
  padding: 10px;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content1 img {
  border-radius: 1rem;
  box-shadow: 1px 1px 8px 3px rgb(147, 31, 13);
  height: 65%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.content2 img {
  border-radius: 1rem;
  box-shadow: 1px 1px 8px 3px rgb(147, 31, 13);
  height: 65%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.content2 p {
  font-size: 18px;
  padding: 10px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content3 img {
  border-radius: 1rem;
  box-shadow: 1px 1px 8px 3px rgb(147, 31, 13);
  height: 65%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.content3 p {
  font-size: 18px;
  padding: 10px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content4 img {
  border-radius: 1rem;
  box-shadow: 1px 1px 8px 3px rgb(147, 31, 13);
  height: 65%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.content4 p {
  font-size: 18px;
  padding: 10px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content5 img {
  border-radius: 1rem;
  box-shadow: 1px 1px 8px 3px rgb(147, 31, 13);
  height: 65%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.content5 p {
  font-size: 18px;
  padding: 10px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content6 {
  grid-column: 3/5;
}

.content6 img {
  border-radius: 1rem;
  box-shadow: 1px 1px 8px 3px rgb(147, 31, 13);
  height: 65%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.content6 p {
  font-size: 18px;
  padding: 10px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content1:hover {
  scale: 1.01;
}

.content2:hover {
  scale: 1.01;
}

.content3:hover {
  scale: 1.01;
}

.content4:hover {
  scale: 1.01;
}

.content5:hover {
  scale: 1.01;
}

.content6:hover {
  scale: 1.01;
}

@media screen and (max-width: 1100px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  body {
    background-color: rgb(194, 23, 23);
}
}

@media screen and (max-width: 400px) {
  .container {
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  body {
    background-color: rgb(18, 141, 12);
}
}
